## Introduction

In this Jupyter notebook we want to scrap the csv example on cars in the Wikipedia page and save the resulting output in the local folder 


### Load the library

In [1]:
from bs4 import BeautifulSoup
import requests

### Get the csv example

Load in the html

In [2]:
csv_wiki = requests.get("https://en.wikipedia.org/wiki/Comma-separated_values")
soup = BeautifulSoup(csv_wiki.text, 'html.parser')

Get the csv example under the header "Example"

In [3]:
ths = soup.find(id='Example')
table = ths.findNext('pre').text
table

'Year,Make,Model,Description,Price\n1997,Ford,E350,"ac, abs, moon",3000.00\n1999,Chevy,"Venture ""Extended Edition""","",4900.00\n1999,Chevy,"Venture ""Extended Edition, Very Large""",,5000.00\n1996,Jeep,Grand Cherokee,"MUST SELL!\nair, moon roof, loaded",4799.00\n'

### Save the csv example into a csv file

In [5]:
f = open('car.csv', 'w')
f.write(table)
f.close()


Reload the csv data from the file to make sure the data was saved properly

In [6]:
import pandas as pd
pd.read_csv('car.csv')

,Year,Make,Model,Description,Price
0,1997,Ford,E350,"ac, abs, moon",3000.0
1,1999,Chevy,"Venture ""Extended Edition""",NaN,4900.0
2,1999,Chevy,"Venture ""Extended Edition, Very Large""",NaN,5000.0
3,1996,Jeep,Grand Cherokee,"MUST SELL!\r\nair, moon roof, loaded",4799.0